@import "tailwindcss";

@theme {
    /* Colors */
    --color-tm-primary: #C52F32;
    --color-tm-secondary: #E89D26;
    --color-tm-dark: #222222;
    --color-tm-dark-2: #111827c2;
    --color-tm-grey: #555555;
    --color-tm-light-grey: #DDDDDD;
    --color-tm-green: #118E62;
    --color-tm-transparent: #ffffff3d;

    /* text size */
    --text-tm-16: 16px;
    --text-tm-16--line-height: 24px;
    --text-tm-14: 14px;
    --text-tm-14--line-height: 20px;
    --text-tm-13: 13px;
    --text-tm-13--line-height: 18px;
    --text-tm-12: 12px;
    --text-tm-12--line-height: 16px;

    /* Radius */
    --radius-tm-12: 12px;
    --radius-tm-6: 6px;

    /* Spacing */
    --spacing-tm-60: 60px;
    --spacing-tm-48: 48px;
    --spacing-tm-40: 40px;
    --spacing-tm-30: 30px;
    --spacing-tm-20: 20px;
    --spacing-tm-16: 16px;
    --spacing-tm-14: 14px;
    --spacing-tm-12: 12px;
    --spacing-tm-10: 10px;
    --spacing-tm-5: 5px;
    --spacing-tm-zero: 0;
}
@layer utilities {
    .no-spinner {
        -moz-appearance: textfield;
    }

    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@font-face {
    font-family: 'peyda';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/woff2/PeydaFaNumWeb-Regular.woff2') format('woff2'),
    url('assets/fonts/woff/PeydaFaNumWeb-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'peyda';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/woff2/PeydaFaNumWeb-Medium.woff2') format('woff2'),
    url('assets/fonts/woff/PeydaFaNumWeb-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'peyda';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/woff2/PeydaFaNumWeb-SemiBold.woff2') format('woff2'),
    url('assets/fonts/woff/PeydaFaNumWeb-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'peyda';
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/woff2/PeydaFaNumWeb-Bold.woff2') format('woff2'),
    url('assets/fonts/woff/PeydaFaNumWeb-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'peyda';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/woff2/PeydaFaNumWeb-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/woff/PeydaFaNumWeb-ExtraBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'peyda';
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/woff2/PeydaFaNumWeb-Black.woff2') format('woff2'),
    url('assets/fonts/woff/PeydaFaNumWeb-Black.woff') format('woff');
    font-display: swap;
}

#themora-app {
    font-family: 'peyda';
    font-size: var(--text-tm-16);
}

#themora-app *,
#themora-app *::before,
#themora-app *::after,
#themora-app p,
#themora-app h1,
#themora-app h2,
#themora-app h3,
#themora-app ul,
#themora-app button {
    box-sizing: border-box;
}

#themora-app p {
    margin: 0;
}

#themora-app button:focus,
#themora-app button:active,
#themora-app button:focus-visible {
    outline: none;
}

.themora-menu .tm-brand-texts .brand-text {
    font-size: 20px;
    font-weight: 700;
    color: #111111;
}

.themora-menu .tm-brand-texts .brand-slogan {
    font-size: var(--text-tm-14);
}


.themora-tab-list-item {
    background: #ffffff3d;
    color: white;
    border-radius: var(--radius-tm-6);
    transition: border-radius 0.3s ease;
}

.themora-tab-list-item:hover {
    background-color: white;
    color: var(--color-tm-dark);
}

.themora-tab-list-item.active {
    color: #000000;
    background-color: #FFFFFF;
}

.themora-menu.sidebar-collapse .themora-tab-list-item {
    justify-content: center;
}

.tm-submenu-wrapper {
    display: grid;
    grid-template-rows:0fr;
    opacity: 0;
    transition: grid-template-rows .3s ease, opacity .3s ease;
}

.tm-submenu-wrapper.open {
    grid-template-rows:1fr;
    opacity: 1;
}

.tm-submenu-wrapper > ul {
    overflow: hidden;
    min-height: 0;
}

.tm-field-wrapper .tm-field-content input[type="text"],
.tm-field-wrapper .tm-field-content input[type="email"],
.tm-field-wrapper .tm-field-content input[type="url"],
.tm-field-wrapper .tm-field-content textarea {
    width: 100%;
    border-radius: var(--radius-tm-6);
}

.tm-field-wrapper .tm-field-content input[type="text"]:focus,
.tm-field-wrapper .tm-field-content input[type="email"]:focus,
.tm-field-wrapper .tm-field-content input[type="url"]:focus,
.tm-field-wrapper .tm-field-content textarea:focus {
    border-color: var(--color-tm-primary);
    box-shadow: 0 0 0 1px var(--color-tm-primary);
    outline: 2px solid transparent;
}

.tm-field-wrapper .tm-field-content input[type=number]:focus {
    box-shadow: none;
}


.tm-field-wrapper label {
    font-size: 13px;
}

/*custom Checkbox styles*/
.tm-tab-content .tm-field-wrapper input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.tm-tab-content .tm-field-wrapper .toggle {
    position: relative;
    display: block;
    width: 50px;
    height: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.tm-tab-content .tm-field-wrapper .toggle:before {
    content: "";
    position: relative;
    top: 1px;
    left: 1px;
    width: 50px;
    height: 22px;
    display: block;
    background: #c8ccd4;
    border-radius: 12px;
    transition: background 0.2s ease;
}

.tm-tab-content .tm-field-wrapper .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
    transition: all 0.2s ease;
}

.tm-tab-content .tm-field-wrapper .toggle span svg {
    margin: 7px;
    fill: none;
}

.tm-tab-content .tm-field-wrapper .toggle span svg path {
    stroke: #c8ccd4;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 24;
    stroke-dashoffset: 0;
    transition: all 0.5s linear;
}

.tm-tab-content .tm-field-wrapper input[type="checkbox"]:checked + .toggle:before {
    background: #52d66b;
}

.tm-tab-content .tm-field-wrapper input[type="checkbox"]:checked + .toggle span {
    transform: translateX(28px);
}

.tm-tab-content .tm-field-wrapper input[type="checkbox"]:checked + .toggle span path {
    stroke: #52d66b;
    stroke-dasharray: 25;
    stroke-dashoffset: 25;
}


/*custom number input style*/
.tm-number-field label {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #65849a;
}


.number-input-container {
    width: 244px;
    display: grid;
    grid-template-columns:48px auto 48px;
}


.number-input {
    width: 100%;
    display: flex;
    overflow: hidden;
    background: #fcf9ed;
}


.number-input-text-box {
    width: 100%;
    height: 48px;

    background: #fcf9ed;

    border: 1px solid #ede6d9;
    border-left: 0;
    border-right: 0;

    font-size: 16px;
    text-align: center;

    transition: .2s;
}


.number-input-text-box:focus {
    background: white;
    border-color: #9c7830;
    outline: none;
}


.button-decrement,
.button-increment {

    position: relative;

    height: 48px;

    background: #fcf9ed;

    border: 1px solid #ede6d9;

    cursor: pointer;
}


.button-decrement::after,
.button-increment::after {

    content: "";

    position: absolute;
    inset: 0;

    background-repeat: no-repeat;
    background-position: center;

}


.button-decrement::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M17 12H7' stroke='%23112C34' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}


.button-increment::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 7V17M17 12H7' stroke='%23112C34' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}


.button-decrement {
    border-right: none;
}


.button-increment {
    border-left: none;
}


button:disabled {
    opacity: .3;
    cursor: not-allowed;
}


/*Loader Spinner*/
.loader {
    box-sizing: border-box;
    border: 2px solid #ffffff52;
    border-bottom-color: #ffffff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: 1s linear infinite rotation;
    display: inline-block;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*VUE TOSTIFICATION STYLES*/
.Vue-Toastification__container.themora-toast-container .Vue-Toastification__toast-body{
    font-family: 'peyda';
}
.Vue-Toastification__container.bottom-left.themora-toast-container .Vue-Toastification__toast--rtl{
    margin-right: auto;
    margin-left: unset;
}